[user]
  email = chris.kelly@shopify.com
  name = Chris Kelly
[init]
  # templatedir = ~/.git-template
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
  editor = vim
  excludesfile = ~/.gitignore.global
[color]
  ui = true
[branch]
  autosetuprebase = always
[push]
  default = simple
[credential]
  helper = cache --timeout=3600
[merge]
  tool = vimdiff
[init]
  templateDir = /home/cpjk/.git-template
