[user]
  email = chris.kelly@shopify.com
  name = Chris Kelly
[init]
  # templatedir = ~/.git-template
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
  editor = vim
	excludesfile = /Users/cpjk/.gitignore
[color]
  ui = true
[branch]
  autosetuprebase = always
[push]
  default = simple
[pull]
  rebase = true
[merge]
  tool = vimdiff
[init]
  templateDir = /home/cpjk/.git-template
[fetch]
	prune = true
[include]
	path = /Users/cpjk/.config/dev/gitconfig
